header {
    background-color: #0F1320;
    width: 100%;
}

.semua {
    background-color: #151D30;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif; 
}

body::-webkit-scrollbar {
    display: none;
}

body p {
    color: #ABCDFE;
    margin-left: 70px ;
    margin-right: 25% ;
}

.navbar-all1 {
    position: fixed;
    top: 0;
    z-index: 3;
}

.navbar1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.navbar-menu1 {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-menu1 li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 0.5rem 1rem;
    position: relative;
}

.navbar-logo1 img.logo {
    width: 170px;
    height: auto;

}

.utama-1{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
    /* border: 5px solid red; */
}

.utama1 {
    height: 53%;
    width: 53%;
    margin: 80px 10px 10px 30px;
    flex-shrink: 0;

}

.utama2 {
    margin: 80px 25px 10px 10px;
}

.utama3 {
    margin: 80px 10px 10px 3px;
}

.utama4 {
    margin-right: 28px;
}

.utama3-img {
    height: auto;
    width:305px;
}

.utama2-img {
    height: auto;
    width:305px;
}

.utama4-img {
    height: auto;
    width:305px;
}

.utama5-img {
    height: auto;
    width:305px;
}

.utama-2 {
    display: flex;
    margin: -192px 0px 0px 864px;
    z-index: 1;
}

.text-utama2 {
    display: flex;
    position: absolute;
    width: 25%;
    height: 10%;
    flex-direction: column;
    margin: -260px 10px 10px 925px;
    z-index: 2;
}

.text-utama2-1 {
    color: #D2E8F9;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 0 0 0 18px ;
}

.text-utama2-2 {
    color: #95BBFF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.text-utama3 {
    display: flex;
    position: absolute;
    width: 25%;
    height: 10%;
    flex-direction: column;
    margin: -260px 10px 10px 1260px;
    z-index: 2;
}

.text-utama3-1 {
    color: #D2E8F9;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 0 0 0 50px ;
}

.text-utama3-2 {
    color: #95BBFF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.text-utama4 {
    display: flex;
    position: absolute;
    width: 25%;
    height: 10%;
    flex-direction: column;
    margin: -65px 10px 10px 930px;
    z-index: 2;
}

.text-utama4-1 {
    color: #D2E8F9;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 0 0 0 50px ;
}

.text-utama4-2 {
    color: #95BBFF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.text-utama5 {
    display: flex;
    position: absolute;
    width: 25%;
    height: 10%;
    flex-direction: column;
    margin: -65px 10px 10px 1280px;
    z-index: 2;
}

.text-utama5-1 {
    color: #D2E8F9;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 0 0 0 30px ;
}

.text-utama5-2 {
    color: #95BBFF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.news {
    margin: 50px 10px 10px 30px;
    background-color: #21344B;
    border-left: 3px solid #5F7AC2;
    width: 300px;
    height: 50px;
}

.news-img {
    padding: 10px 10px 10px 10px;
}

.news-text {
    color: #ABCDFE;
    margin: -37px 10px 10px 55px;
}

.patch-utama {
    display: flex;
    flex-wrap: wrap;

}

.patch1 {
    background-color: #2C3756;
    /* margin: 0 20px 10px 20px; */
    border: 3px solid #364365;
    width: 100%;
    height: 100%;
}

.patch-kiri {
    margin: 20px 10px 15px 28px;
    /* border: 5px solid red; */
    width: 48%;
    height: 48%;
}

.patch-kanan {
    margin: 20px 15px 15px 0;
    /* border: 5px solid red; */
    width: 48%;
    height: 48%;
}
.patch1906 {
    padding: 8px 8px 8px 8px;
    width: 200px;
    height: auto;
   
}

.patch1906-text {
    color: #ABCDFE;
    margin-top: -115px;
    margin-left: 220px ;
    font-weight: 10;
}

.patch-kotak-text1 {
    color: #A3B6ED;
    padding: 43px 2px 2px 2px;
    font-family:'Times New Roman', Times, serif;
    margin-left: 230px;
    position: absolute;
}

.patch-kotak1 {
    border: 1px solid #ABCDFE;
    background-color: #364373;
    margin: 50px 1184px 10px 220px;
    width: 138px;
    height: 25px;
}

.eye-kiri {
    width: 22px;
    height: auto;
    position: absolute;
    margin-top: -23px;
    left: 510px;
}

.angka1-kiri {
    color: #5E83A3;
    position: absolute;
    margin-top: -23px;
    font-weight: 10;
    left: 540px;
}

.angka2-kiri {
    color: #5E83A3;
    position: absolute;
    margin-top: -23px;
    font-weight: 10;
    left: 600px;
}

.eye-kanan {
    width: 22px;
    height: auto;
    position: absolute;
    margin-top: -23px;
    right: 250px;
}

.angka1-kanan {
    color: #5E83A3;
    position: absolute;
    margin-top: -23px;
    font-weight: 10;
    right: 200px;
}

.angka2-kanan {
    color: #5E83A3;
    position: absolute;
    margin-top: -23px;
    font-weight: 10;
    right: 40px;
}

.patch-kotak-text1-1 {
    color: #A3B6ED;
    padding: 13px 2px 2px 2px;
    font-family:'Times New Roman', Times, serif;
    margin-left: 230px;
    position: absolute;
}

.patch-kotak1-1 {
    border: 1px solid #ABCDFE;
    background-color: #364373;
    margin: 20px 1184px 10px 220px;
    width: 138px;
    height: 25px;
}


.eye-kiri-1 {
    width: 22px;
    height: auto;
    position: absolute;
    margin-top: -23px;
    left: 510px;
}

.angka1-kiri-1 {
    color: #5E83A3;
    position: absolute;
    margin-top: -23px;
    font-weight: 10;
    left: 540px;
}

.angka2-kiri-1 {
    color: #5E83A3;
    position: absolute;
    margin-top: -23px;
    font-weight: 10;
    left: 600px;
}

.eye-kanan-2 {
    width: 22px;
    height: auto;
    position: absolute;
    margin-top: -23px;
    right: 250px;
}

.angka1-kanan-2 {
    color: #5E83A3;
    position: absolute;
    margin-top: -23px;
    font-weight: 10;
    right: 200px;
}

.angka2-kanan-2 {
    color: #5E83A3;
    position: absolute;
    margin-top: -23px;
    font-weight: 10;
    right: 40px;
}

.videos {
    margin: 40px 10px 20px 30px;
    background-color: #21344B;
    border-left: 3px solid #5F7AC2;
    width: 300px;
    height: 50px;
}

.videos-utama {
    display: flex;
    flex-wrap: wrap;
}

.videos-img {
    padding: 10px 10px 10px 10px;
}

.videos-text {
    color: #ABCDFE;
    margin: -35px 10px 10px 55px;
}

.videos-1 {
    width: 465px;
    height: 340px;
    display: flex;
    flex-direction: column;
    margin: 10px 10px 10px 30px;
    background-color: #384465;
}

.videos1 {
    width: 100%;
    height: 100%;
    padding: 2px;
}

.videos1-text {
    color: #ABCDFE;
    padding: 10px 10px 10px 10px;
}