header {
    background-color: #0F1320;
    width: 100%;
}

body {
    background-color: #151D30;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif; 
}

body::-webkit-scrollbar {
    display: none;
}

body p {
    color: #ABCDFE;
    margin-left: 70px ;
    margin-right: 25% ;
}

.navbar-all {
    position: fixed;
    top: 0;
    z-index: 3;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-menu li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 0.5rem 1rem;
    position: relative;
}

.navbar-logo img.logo {
    width: 170px;
    height: auto;
 
}

.patch1 {
    background-color: #2C3756;
    margin: 130px 20px 10px 20px;
    border: 3px solid #364365;
}

.patch {
    background-color: #2C3756;
    margin: 50px 20px 10px 20px;
    border: 3px solid #364365;
}

.patch1906 {
    padding: 8px 8px 8px 8px;
    width: 200px;
    height: auto;
   
}

.patch1906-text {
    color: #ABCDFE;
    margin-top: -130px;
    margin-left: 250px ;
    font-weight: 10;
}

.patch-kotak-text1 {
    color: #A3B6ED;
    padding: 2px 2px 2px 2px;
    font-family:'Times New Roman', Times, serif;
    margin-left: 260px;
    position: absolute;
}

.patch-kotak1 {
    border: 1px solid #ABCDFE;
    background-color: #364373;
    margin: 38px 1184px 10px 250px;
    width: 138px;
    height: 25px;
}

.eye {
    width: 22px;
    height: auto;
    position: absolute;
    right: 252px;
    margin-top: -16px;
}

.angka1 {
    color: #5E83A3;
    position: absolute;
    right: 203px;
    margin-top: -17px;
    font-weight: 10;
}

.angka2 {
    color: #5E83A3;
    position: absolute;
    right: 40px;
    margin-top: -17px;
    font-weight: 10;
}
