header {
    background-color: #0F1320;
    width: 100%;
}

body {
    background-color: #151D30;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    /*font-family: "Helvetica Neue";*/
}

body::-webkit-scrollbar {
    display: none;
}

body p {
    color: #ABCDFE;
    margin-left: 70px ;
    margin-right: 25% ;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-menu li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 0.5rem 1rem;
    position: relative;
}

.navbar-logo img.logo {
    width: 170px;
    height: auto;

}

.all {
    background-color: #151D30;
    width: 100%;
}

.garis1 {
    background-color: #6F78A7;
    width: 37%;
    height: 3px;
    margin-left: 40px;
    margin-bottom: 10px;
}

.slide-kiri {
    margin-left: 40px;
    margin-bottom: 10px;
    width: 200px;
    height: 330px;
    position: static;
    display: inline-block;
}

.slide-kanan {
    margin-right: 35px;
    margin-left: 5px;
    margin-bottom: 10px;
    width: 200px;
    height: 330px;
    position: static;
    display: inline-block;
}

.slide-tengah {
    width: 200px;
    height: 330px;
    margin-left: 5px;
    margin-bottom: 10px;
    position: static;
    display: inline-block;
}


/*        All         */

.nama {
    color: rgb(243,250,255);
    position: absolute;
    display: inline-block;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.nama-1 {
    margin-left: 105px;
    margin-top: -60px;
}

.nama-2 {
    margin-left: 329px;
    margin-top: -45px;
}

.nama-3 {
    margin-left: 540px;
    margin-top: -45px;
}

.nama-4 {
    margin-left: 735px;
    margin-top: -47px;
}

.nama-5 {
    margin-left: 960px;
    margin-top: -47px;
}

.nama-6 {
    margin-left: 1160px;
    margin-top: -48px;
}

.nama-7 {
    margin-left: 1365px;
    margin-top: -47px;
}

.nama-1-2 {
    margin-left: 105px;
    margin-top: -60px;
}

.nama-2-2 {
    margin-left: 329px;
    margin-top: -45px;
}

.nama-3-2 {
    margin-left: 540px;
    margin-top: -45px;
}

.nama-4-2 {
    margin-left: 735px;
    margin-top: -47px;
}

.nama-5-2 {
    margin-left: 960px;
    margin-top: -47px;
}

.nama-6-2 {
    margin-left: 1160px;
    margin-top: -48px;
}

.nama-7-2 {
    margin-left: 1365px;
    margin-top: -47px;
}
