header {
    background-color: #0F1320;
    width: 100%;
}

body {
    background-color: #151D30;
    margin: 0;
    font-family: "Helvetica Neue";
}

body::-webkit-scrollbar {
    display: none;
}

body p {
    color: #ABCDFE;
    margin-left: 70px ;
    margin-right: 25% ;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-menu li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 0.5rem 1rem;
    position: relative;
}

.navbar-logo img.logo {
    width: 170px;
    height: auto;

}

.all {
    background-color: #151D30;
    width: 100%;
}

.garis1 {
    background-color: #6F78A7;
    width: 35%;
    height: 3px;
    margin-left: 40px;
    margin-bottom: 10px;
}

.slide-kiri {
    margin-left: 40px;
    margin-bottom: 10px;
    width: 200px;
    height: 330px;
    position: static;
    display: inline-block;
}

.slide-kanan {
    margin-right: 40px;
    margin-left: 5px;
    margin-bottom: 10px;
    width: 200px;
    height: 330px;
    position: static;
    display: inline-block;
}

.slide-tengah {
    width: 200px;
    height: 330px;
    margin-left: 5px;
    margin-bottom: 10px;
    position: static;
    display: inline-block;
}

